name: flutter_nsd
description: Flutter Network Service Discovery
version: 0.0.1
author: Nimrod Dayan
homepage: https://github.com/Nimrodda/flutter_nsd

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.nimroddayan.flutternsd
        pluginClass: FlutterNsdPlugin
