name: flutter_nsd
description: A Flutter plugin for Network Service Discovery (mDNS) that uses platform API on Android, iOS, MacOS and Windows.
version: 1.5.0
homepage: https://github.com/Nimrodda/flutter_nsd

environment:
  sdk: ">=2.12.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4

flutter:
  plugin:
    platforms:
      android:
        package: com.nimroddayan.flutternsd
        pluginClass: FlutterNsdPlugin
      ios:
        pluginClass: SwiftFlutterNsdPlugin
      macos:
        pluginClass: SwiftFlutterNsdPlugin
      windows:
        fileName: flutter_nsd_plugin.cpp
        pluginClass: FlutterNsdPlugin
